*.dcu
*.~*~
*.local
*.identcache
*.drc
*.map
*.exe
*.dll
*.bpl
*.mdb
*.dcp
*.skincfg
*.dic
*.ocx
*.wxo
*.class
*.jar
*.zip


__history
__history/
bpl/
lib/
.svn/
bin/*
db/
ouput/
tmp/
tmp/*.*
/StructBase_2/bin
/StructBase_2/dcu
/StructBase_2/dcp 
/SystemManager/dcu
/WebRun/debug_www
/SystemManager/bin/Data/DbLink.udl
.metadata/
.settings/
Servers/
DataPickUp
output
PrjTemplate
